<div class="main-container_stock">
<%= form_with(model: @stock, local: true, url: choose_new_or_edit) do |form| %>
  <% if stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: Stock.model_name.human, count: stock.errors.count) %></h2>

      <ul>
      <% stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ジャンル名 %>
    <%#= form.text_field :item_genre %>
    <%= form.select :item_genre, [["洗濯用品", "0"], ["掃除用品", "1"], ["バス用品", "2"],
        ["トイレ用品", "3"],  ["家庭日用品", "4"], ["その他", "5"]], include_blank: "選択して下さい"  %>
  </div>

  <div class="field">
    <%= form.label :商品名 %>
    <%= form.text_field :item_name %>
  </div>


  <div class="field">
    <%= form.label :内容 %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :価格 %>
    <%= form.number_field :price %>
  </div>

  <div class="field_stock_image">
    <%= form.label :画像 %>
    <%= image_tag(@stock.image.url) if @stock.image && @stock.image.url %>
    <%= form.file_field :image %><br>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="field">
    <%= form.label :在庫数 %>
    <%= form.number_field :number_of_stock %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
