<!-- diveceディフォルト  noticeの表示が2重に表示になるため-->
<!-- <p id="notice"><%#= notice %></p> -->

<h2>< <%= t(".index_stock") %> ></h2>

  <%= search_form_for @q do |f| %>
    <%#= f.label :item_genre_or_item_name, "Keyword" %>
    <%= f.search_field :item_name_cont , placeholder: '商品名 検索..' %>
    <%= f.submit "検索" %>
  <% end %>
  <br>
<%= link_to t(".stock_sreach_clear"), stocks_path, class:"btn btn-secondary" %>
  <br>
  <br>

  <div class:"table_stock" style="width:100%; height:2500px; overflow:auto;">
  <table>
    <thead align="center">
      <tr>
        <th><%= sort_link(@q, :item_genre, t(".item_genre")) %></th>
        <th><%= sort_link(@q, :item_name, t(".item_name")) %></th>
        <!-- <th>商品詳細</th> -->
        <th><%= sort_link(@q, :price, t(".price")) %></th>
        <th><%= t(".image") %></th>
        <th><%= sort_link(@q, :number_of_stock, t(".number_of_stock")) %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

  <tbody align="center">
    <% @stocks.each do |stock| %>
    <!--自分が作成したタスクだけを表示させる -->
      <% if current_user.id == stock.user.id %>
        <tr>
          <td><%= stock.item_genre %></td>
          <td><%= stock.item_name %></td>
          <!-- <td><%#= stock.content %></td> -->
          <td><%= stock.price %><%= t(".japanese_en") %></td>
          <td><%= image_tag stock.image.url %></td>
          <td><%= stock.number_of_stock %></td>
          <td><%= link_to t(".show_stock") , stock, class:"btn btn-info" %></td>
          <td><%= link_to t(".edit_stock"), edit_stock_path(stock),
          data: { confirm: '本当に編集していいですか？' }, class:"btn btn-secondary" %></td>
          <td><%= link_to t(".destroy_stock"), stock,
          method: :delete,data: { confirm: '本当に削除していいですか？' }, class:"btn btn-danger" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(".create_stock"), new_stock_path, class:"btn btn-success" %><br>

<%= paginate @stocks  %>
</div>
