<!-- diveceディフォルト  noticeの表示が2重に表示になるため-->
<!-- <p id="notice"><%#= notice %></p> -->

<h2>< <%= t(".show_stock") %> ></h2>
<br>

<div  style="width:100%; height:500px; overflow:auto;">
  <p>
    <strong><%= t(".item_genre") %>:</strong>
    <%= @stock.item_genre %>
  </p>

  <p>
    <strong><%= t(".item_name") %>:</strong>
    <%= @stock.item_name %>
  </p>

  <p>
    <strong><%= t(".content") %>:</strong>
    <%= @stock.content %>
  </p>

  <p>
    <strong><%= t(".price") %>:</strong>
    <%= @stock.price %><%= t(".japanese_en") %>
  </p>

  <p>
    <strong><%= t(".image") %>:</strong>
    <!-- 画面をクリックすると拡大する -->
    <%=  link_to @stock.image.url, 'data-lightbox': @stock.image do %>
    <%= image_tag @stock.image.url  if @stock.image? %>
    <% end %>
  </p>

  <p>
    <strong><%= t(".number_of_stock") %>:</strong>
    <%= @stock.number_of_stock %>
  </p>

  <%= link_to  t(".go_to_edit_stock") , edit_stock_path(@stock), class:"btn btn-light" %> |
  <%= link_to  t(".go_to_back_stock"), stocks_path, class:"btn btn-light"  %>
</div>
