<!-- diveceディフォルト  noticeの表示が2重に表示になるため-->
<!-- <p id="notice"><%#= notice %></p> -->

<div  style="width:100%; height:500px; overflow:auto;">
  <p>
    <strong>Item Genre:</strong>
    <%= @stock.item_genre %>
  </p>

  <p>
    <strong>Item name:</strong>
    <%= @stock.item_name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @stock.content %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @stock.price %>円
  </p>

  <p>
    <strong>Image:</strong>
    <!-- 画面をクリックすると拡大する -->
    <%=  link_to @stock.image.url, 'data-lightbox': @stock.image do %>
    <%= image_tag @stock.image.url  if @stock.image? %>
    <% end %>
  </p>

  <p>
    <strong>Number of stock:</strong>
    <%= @stock.number_of_stock %>
  </p>

  <%= link_to '編集', edit_stock_path(@stock), class:"btn btn-light" %> |
  <%= link_to '戻る', stocks_path, class:"btn btn-light"  %>
</div>
