<h2><%= t(".my_page_edit") %></h2>

<div class="main-container_user">
<%= form_with model: @user do |form| %>

  <div class="field_user_image"><%= t(".my_page_image") %>：<%= form.file_field :image , class:"btn btn-success" %></div>
  <br>
  <br>
  <div><%= t(".username") %>：<%= form.text_field :username %></div>
  <br>
  <div><%= t(".password") %>：<%= form.text_field :password %></div>
  <br>

  <div><%= form.submit t(".Create"), class:"btn btn-warning"%></div>
  <br>
<% end %>
</div>
