<h2><%= @user.username %>のユーザーページ</h2>

<div>メールアドレス:<%= @user.email %></div>
<div>ユーザー名:<%= @user.username %></div>


<% if user_signed_in? && @user == current_user %>


<%= link_to "ストック一覧に進む", stocks_path %><br>
<%= link_to "レシート一覧に進む", receipts_path %><br>
<%= link_to "マイページ編集", edit_user_path(current_user) %>
<% end%>
