<h3><%= @user.username %>のユーザーページ</h3>

<div class="main-container_user">
  <% if @user.image? %>
  <img src='<%= @user.image %>' class="icon_image" alt="ユーザーアイコン">
  <% else %>
  <image src="/assets/default.png" class="icon_image" alt="ユーザーアイコン" %>
  <% end %>


  <div>メールアドレス:<%= @user.email %></div>
  <div>ユーザー名:<%= @user.username %></div>

  <div class="user_botton_stock">
    <% if user_signed_in? && @user == current_user %>
    <%= link_to "日用品一覧に進む", stocks_path, class:"btn btn-success"%>
    <br>
  </div>
    <div class="user_botton_receipt">
    <%= link_to "みんなのお買い物に進む", receipts_path, class:"btn btn-warning" %>
    <br>
  </div>
    <div class="user_botton_mypage">
    <%= link_to "マイページ編集", edit_user_path(current_user), class:"btn btn-secondary" %>
    <br>
    <% end %>
  </div>

</div>
