<h3><%= @user.username %><%= t(".s_user_page") %></h3>

<div class="main-container_user">
  <% if @user.image? %>
  <img src='<%= @user.image %>' class="icon_image" alt="ユーザーアイコン">
  <% else %>
  <image src="/assets/default_profile.png" class="icon_image" alt="ユーザーアイコン" >
  <% end %>


  <div><%= t(".mail_adress") %>:<%= @user.email %></div>
  <div><%= t(".username") %>:<%= @user.username %></div>

  <div class="user_botton_stock">
    <% if user_signed_in? && @user == current_user %>
    <%= link_to t(".go_to_stock_index_page"), stocks_path, class:"btn btn-success"%>
    <br>
  </div>
    <div class="user_botton_receipt">
    <%= link_to t(".go_to_receipt_index_page"), receipts_path, class:"btn btn-warning" %>
    <br>
  </div>
    <div class="user_botton_mypage">
    <%#= link_to t(".go_to_my_page_edit"), edit_user_path(current_user), class:"btn btn-secondary" %>
    <br>
    <% end %>
  </div>

</div>
