<h3><%= t(".register_with_the_following_contents") %></h3>

<div class="main-container_receipt">
  <div class:"table_receipt" style="width:100%; height:600px; overflow:auto;">
    <h2><%= "#{@receipt.user.username}"%><%= t(".s_receipt") %></h2>
      <%= form_with(model: @receipt, local: true, url: receipts_path ) do |form| %>
        <%= form.hidden_field :shop_name %>
        <%= form.hidden_field :item_detail %>
        <%= form.hidden_field :memo %>
        <%= form.hidden_field :price %>
        <%= form.hidden_field :image_cache %>

        <p><%= t(".shop_name") %>:<%= @receipt.shop_name %></p>
        <p><%= t(".item_detail") %>:<%= @receipt.item_detail %></p>
        <p><%= t(".memo") %>:<%= @receipt.memo %></p>
        <p><%= t(".price") %>(合計):<%= @receipt.price %>円</p>
        <p><%= t(".image") %>:<%= image_tag(@receipt.image.url) if @receipt.image && @receipt.image.url %> </p>

       <%= form.submit  "登録する", class:"btn btn-outline-warning" %>
       <%= form.submit "戻る", name: 'back', class:"btn btn-outline-secondary" %>
      <% end %>
  </div>
</div>
