<h3>< <%= t(".everyboby_receipt") %> ></h3>

<%= search_form_for @q do |f| %>
  <%#= f.label :shop_name_or_item_detail_or_memo_cont , "Keyword" %>
  <%= f.search_field :shop_name_or_item_detail_or_memo_cont , placeholder: '検索ワード..' %>

  <%= f.submit "検索" %>
<% end %>

<%= link_to t(".receipt_sreach_clear"), receipts_path, class:"btn btn-outline-warning" %>

<div class:"table_receipt" style="width:100%; height:2500px; overflow:auto;">
  <table>
    <thead align="center">
      <tr>
        <th><%= t(".username") %></th>
        <th><%= sort_link(@q, :shop_name, t(".shop_name")) %></th>
        <th><%= t(".item_detail") %></th>
        <!-- <th>メモ</th> -->
        <th><%= sort_link(@q, :price, t(".price")) %>(合計)</th>
        <th><%= t(".image") %></th>
        <th><%= sort_link(@q, :created_at, t(".created_at")) %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody align="center">
      <% @receipts.each do |receipt| %>
        <tr>
          <td><%= "#{receipt.user.username}"%><%= t(".mr_ms_miss") %></td>
          <td><%= receipt.shop_name %></td>
          <td><%= receipt.item_detail %></td>
          <!-- <td><%#= receipt.memo %></td>  -->
          <td><%= receipt.price %><%= t(".japanese_en") %></td>
          <td><%= image_tag receipt.image.url %></td>
          <td><%= l receipt.created_at, format: :short %></td>
          <td><%= link_to t(".show_receipt"), receipt, class:"btn btn-outline-primary" %></td>

    <!-- ログインユーザーのみ入力できる -->
        <% if current_user.id == receipt.user.id %>
          <td><%= link_to t(".edit_receipt"), edit_receipt_path(receipt),
          data: { confirm: '本当に編集していいですか？' }, class:"btn btn-outline-secondary"%></td>
          <td><%= link_to t(".destroy_receipt"), receipt,
          method: :delete,data: { confirm: '本当に削除していいですか？' }, class:"btn btn-outline-danger" %></td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to t(".create_receipt"), new_receipt_path, class:"btn btn-outline-success" %>
  <%= paginate @receipts  %>
</div>
