<!-- diveceディフォルト  noticeの表示が2重に表示になるため-->
<!-- <p id="notice"><%#= notice %></p> -->

<h2>< <%= t(".show_receipt") %> ></h2>
<br>

<div style="width:100%; height:750px; overflow:auto;">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class="blog-text">
      <p>
        <strong><%= t(".shop_name") %>:</strong>
        <%= @receipt.shop_name %>
      </p>

      <p>
        <strong><%= t(".item_detail") %>:</strong>
        <%= @receipt.item_detail %>
      </p>

      <p>
        <strong><%= t(".price") %>:</strong>
        <%= @receipt.price %><%= t(".japanese_en") %>
      </p>

      <p>
        <strong><%= t(".image") %>:</strong>
        <!-- 画面をクリックすると拡大する -->
        <%=  link_to @receipt.image.url, 'data-lightbox': @receipt.image do %>
        <%= image_tag @receipt.image.url if @receipt.image? %>
        <% end %>
      </p>

      <p>
        <strong><%= t(".memo") %>:</strong>
        <%= @receipt.memo %>
      </p>
    </div>

      <p>< <%= t(".comment_index") %> ></p>
      <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
      <div id="comments_area">
      <!-- 投稿されたコメント一覧をレシピの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/index', locals: { comments: @comments, receipt: @receipt } %>
      </div>
      <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/form', locals: { comment: @comment, receipt: @receipt } %>

    <%= link_to t(".go_to_back_receipt"), receipts_path, class:"btn btn-outline-secondary" %>
  </div>
</div>
