<!DOCTYPE html>
<html>
  <head>
    <title>IEty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- 文字化けを防ぐために指定 -->
    <meta charset="UTF-8">
    <!-- スマホサイズの媒体にも適用 -->
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!-- 画面をクリックすると拡大する -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>

<!-- 追加 -->
    <%# BootstrapをCDNで適用させる(CSS) %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <%# BootstrapをCDNで適用させる(JS) %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <%# FontAwesomeをCDNで適用させる %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  </head>

  <body>
    <div id="wrapper">
      <header class="header">
        <ul>
          <li><a>IEty</a></li>
          <li><a href="/tops">トップページ</a></li>
        </ul>
      </header>

      <div class="layout_display">
        <% if user_signed_in? %>
          <%= link_to "マイページ画面へ", user_path(current_user.id), class:"btn btn-info" %>
          <%#= link_to "日用品在庫の一覧へ", stocks_path , class:"btn btn-success" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete , class:"btn btn-danger" %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, class:"btn btn-warning" %>
          <%= link_to "ログイン画面へ", new_user_session_path, class:"btn btn-info" %>
        <% end %>

        <% if notice %>
         <p class="alert alert-notice"><%= notice %></p>
        <% end %>
        <% if alert %>
         <p class="alert alert-error"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>

      <footer class="footer">
      </footer>
    </div>
  </body>
</html>
