<!DOCTYPE html>
<html>
  <head>
    <title>IEty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- head内にこのタグ設定を追記する -->
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
     <%#= link_to "Profile", user_path(current_user.id) %>
     <%= link_to "ストック投稿", stocks_path %>
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
   <% else %>
     <%= link_to "新規登録", new_user_registration_path %>
     <%= link_to "ログイン", new_user_session_path %>
   <% end %>
    <%= yield %>
    <footer>
        <p></p>
        <p></p>
    </footer>
  </body>
</html>
